<section class="skills-section">
    <div class="container">
        <div class="skills-title">
             <img src="/assets/images/highlight_10.svg" alt="" width="150px"/>
            <h1 class="gradient-text">Skills</h1>
        </div>
        <div class="skills-chart ">

            <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>Figma / Adobe XD</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>UI Desing</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>Information Architecture</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>UX Desing</h2>
            </div>
          

        </div>
        <div class="skills-chart ">

            <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>Figma / Adobe XD</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>UI Desing</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>Information Architecture</h2>
            </div>
             <div class="skills-chart-item">
                <img src="/assets/images/ellip1.png" alt="HTML Tutorial" width="220px"/>
                <h2>UX Desing</h2>
            </div>
          

        </div>
    </div>
</section>