<section class="skills-section">
    <div class="container" *ngFor="let skill of skills">
        <div class="skills-title">
            <img src="/assets/images/highlight_10.svg" alt="" width="150px" />
            <h1 class="gradient-text">{{skill.skilltitle}}</h1>
        </div>
        <div class="skills-chart ">
            <div class="skills-chart-row"  *ngFor="let item of skill.skillcontent; let i = index">
                <div class="skills-chart-couple" *ngIf="i % 2 === 0">
                    <div class="skills-chart-item">
                        <h1>{{item.percentage}}</h1>
                        <img src="{{item.image}}" alt="HTML Tutorial" />
                        <h2>{{item.description}}</h2>
                    </div>
                    <div class="skills-chart-item" *ngIf= "skill.skillcontent[i + 1] as next">
                        <h1>{{next.percentage}}</h1>
                        <img src="{{next.image}}" alt="HTML Tutorial" />
                        <h2>{{next.description}}</h2>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</section>