.skills-section {
    height: 100vh;
    color: #FFFFFF;
    display: flex;
    display: flex;
}

.skills-section .container {
    max-width: 1900px;

}

.skills-section .container .gradient-text {
    background: linear-gradient(to right, #B224EF, #7579FF);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 64px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    padding: 47px 0 0 0;
    z-index: 1;
}


.skills-section .container .skills-title {
    height: 25%;
    width: 100%;
    border-bottom: 4px solid #EDEEFF;
    position: relative;
}

.skills-section .container .skills-title img {
    position: absolute;
    margin: 0 0 0 60px;
    z-index: 2;
}

.skills-section .container .skills-chart {
    border-bottom: 4px solid #EDEEFF;
    display: flex;
    flex-wrap: wrap;
}

// .skills-section .container .skills-chart .skills-chart-couple {

//    width: calc(50%); 
//   text-align: center;
// }
// .skills-section .container .skills-chart .skills-chart-couple {

//    width: calc(50%); 
//   text-align: center;
// }

.skills-section .container .skills-chart h2 {
    color: black;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    width: 70%;
    text-align: center;
    margin: 0 0 0 24px;
    font-weight: 400;
}

.skills-section .container .skills-chart h1 {

    color: #5f6073;
    position: absolute;
    z-index: 2;
    margin: 90px 80px;
    font-family: 'Poppins', sans-serif;
    font-size: 35px;
}