.header-section {
    max-height: 100vh;
    color: white;
    display: flex;
    // align-items: center;
    // justify-content: center;
    // text-align: center;
    display: flex;
}

.header-section .flex-container {
    max-width: 50%;
    padding: 13% 0;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.flex-container-left {
    display: flex;
    position: relative;
    max-height: 100%;
}

.flex-container-left #image1 {
    display: flex;
    position: absolute;
    z-index: 2;
    top: -20px;
    left: 70%;

}



.header-section .flex-container .flex-container-left .left-box {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.header-section .flex-container .flex-container-left .left-box .img {

    position: absolute;
    z-index: 2;

}

.header-section .flex-container .flex-container-left .left-box .left-box-title {
    width: 600px;
    position: relative;
}
.header-section .flex-container .flex-container-left .left-box .left-box-title #image2{
  z-index: 2;
  right:5%;
  bottom: 5%;
  position:absolute;
}

.header-section .flex-container .flex-container-left .left-box .left-box-title h1 {
    color: black;
    font-size: 120px;
    max-width: 100%;
    font-family: 'Poppins', sans-serif;
    text-wrap: balance;
    white-space: nowrap;
    margin: -30px 0;
}

.header-section .flex-container .left-box p {
    color: black;
    font-size: 18px;
    max-width: 500px;
    max-height: 100%;
    font-family: 'Poppins', sans-serif;
}

.header-section .flex-container .left-box .btn {
    background: linear-gradient(to right, #B224EF, #7579FF);
    color: white;
    max-height: 100%;
    padding: 20px 70px;
    border-radius: 16px;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
    justify-content: flex-start;
    margin: 30px 0px 200px 0px;
    font-size: 24px;
}

.left-box-btn {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: nowrap;
    gap: 10px;
position: relative;
}

.header-section .flex-container .left-box .left-box-btn img {
    margin: 2% 0 10% 0;
    width: 300px;
}

.header-section .flex-container-right {
    display: flex;
    justify-content: flex-end;
    width: 70%;
}

.header-section .flex-container-right .right-box {
    width: 100%;
    margin: 10% 0px 0px 0px;

}

.header-section .flex-container-right .right-box img {
    width: 100%;
}