.hero {
    height: 100vh;
    width: 100%;
    background-color: #555;
    background-size: cover;
    background-position: center;

}

.nav-container {
    width: 100%;
    height: 72px;
    background-color: #1B1C37; // màu xanh
    border-radius: 14.42px; // bo góc
    padding: 16px; // khoảng cách bên trong
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    color: white;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Phuong', sans-serif;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 70px;
    padding-left: 10%;
    padding-right: 10%;
}

.logo {
    color: white;
    font-size: 28px;
}

span {
    color: #ea1538;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ea1538;
    transition: .3s;
}

button {
    border: none;
    background: #ea1538;
    padding: 12px 30px;
    border-radius: 12px;
    color: white;
    font-weight: bold;
    font-size: 15px;
    transition: .4s;
}

button:hover {
    transform: scale(1.3);
    cursor: pointer;
}