.hero {
  
    width: 100%;
    background-color: #FFFFFF;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.home-content {
    max-width: 86%;
}